<form method="post" action="/admin" enctype="application/x-www-form-urlencoded" class="form form--separated">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <label>
    description:
    <input type="text" name="description">
  </label>
  <button>Senda</button>
</form>
