<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>

  <main>
    <div class="button">
      <button type="button"><a href = />Home</a></button>
    </div>
    <div class="button">
      <button type="button"><a href = /admin/login>Login</a></button>
    </div>
    <div class="button">
      <button type="button"><a href = /logout>Logout</a></button>
    </div>

