<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <main>
    <div class="homeButton">
      <button type="button"><a href = />Home</a></button>
    </div>
